// ---------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------
$BaseColor: #333;
$BgColor: #fff;
$AccentColor: #bbb;
$LinkColor: #333;

// ---------------------------------------------------------------------------
// Font
// ---------------------------------------------------------------------------
$BaseFont: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;


// ---------------------------------------------------------------------------
// ContentSetting
// ---------------------------------------------------------------------------
@mixin ContentSetting() {
  width: 1000px;
  margin: 0  auto;
}
