// ---------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------
$BaseColor: #5f3319;
$BgColor: #fff;
$Green: #005e3c;
$Red: #cf000d;
$LinkColor: white;

// ---------------------------------------------------------------------------
// Font
// ---------------------------------------------------------------------------
$BaseFont: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;


// ---------------------------------------------------------------------------
// ContentSetting
// ---------------------------------------------------------------------------
@mixin ContentSetting() {
  width: 1000px;
  margin: 0  auto;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.is-pc{
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
.is-sp{
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
