@charset "utf-8";

header {
  .Header {
    z-index: 99;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    .Header-Inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding: 0 20px;
      box-shadow: 0px 5px 10px 5px #0000001a;
      @media (max-width: 768px) {
        height: auto;
        padding: 2% 2.5%;
        justify-content: space-between;
      }
      .Header-Wrap{
        display: flex;
        @media (max-width: 768px) {
          justify-content: space-between;
          min-width: 100%;
        }
        .Logo-Lalaport {
          width: 148px;
        }
        .Logo-Divercity{
          width: 95px;
        }
        .Logo-Lazona{
          width: 84px;
        }
        .Logo-Mitsui {
          width: 102px;
        }
      }
      .Header-Wrap:nth-of-type(1){
        .Logo{
          margin-right: 20px;
          @media (max-width: 768px) {
            margin: auto 10px;
            vertical-align: center;
          }
        }
      }
    }
  }
}
