@charset "utf-8";

main{
  background: url("../../_assets/images/content-bg.png");
  background-repeat: no-repeat;
  background-position: top 1090px center;
  background-size: auto;
  @media (max-width: 768px) {
    background-size: contain;
    
  }
  .Container{

    
  }
  
}