@charset "utf-8";

html,
body {
  -webkit-text-size-adjust: 100%;
  min-width: 1080px;
  @media (max-width: 768px) {
    overflow-x: hidden;
    width: 100%;
    min-width: 100%;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: $BaseFont;
  font-size: 1.4rem;
  line-height: 1.8;
  word-wrap: break-word;
  color: $BaseColor;
  background: url("../../_assets/images/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $LinkColor;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}