footer.Footer
  .Footer-Inner
    ul.Sns-List
      li.Sns-List-Item
        a(href="https://mitsui-shopping-park.com/lalaport/redirect.html?url=https%3A%2F%2Fwww.facebook.com%2Flalaport.jp" target="_blank")
          img(src="./_assets/images/sns_fb.png" alt="Facebook")
      li.Sns-List-Item
        a(href="https://mitsui-shopping-park.com/lalaport/redirect.html?url=https%3A%2F%2Fwww.instagram.com%2Flalaport_official%2F" target="_blank")
          img(src="./_assets/images/sns_is.png" alt="instagram")
      li.Sns-List-Item
        a(href="https://mitsui-shopping-park.com/lalaport/redirect.html?url=https%3A%2F%2Ftwitter.com%2Flalafanlalaport" target="_blank")
          img(src="./_assets/images/sns_tw.png" alt="twitter")
    ul.Nav-List
      li.Nav-List-Item
        a(href="https://www.mf-shogyo.co.jp/footer/policy.html" target="_blank") サイトのご利用上の注意
      li.Nav-List-Item
        a(href="https://www.mf-shogyo.co.jp/footer/privacy.html" target="_blank") 個人情報保護方針
      li.Nav-List-Item
        a(href="https://www.mf-shogyo.co.jp/footer/policy2.html" target="_blank") 個人情報の取り扱いについて
      li.Nav-List-Item
        a(href="https://www.mf-shogyo.co.jp/footer/socialmediaguideline.html" target="_blank") 三井不動産グループソーシャルメディアガイドライン
      li.Nav-List-Item
        a(href="https://mitsui-shopping-park.com/lalaport/special/inquiry.html" target="_blank") お問い合わせ
      li.Nav-List-Item
        a(href="https://www.mf-shogyo.co.jp/" target="_blank") 会社案内
    small.Copyright Copyright Mitsui Fudosan Retail Management Co., Ltd. All Rights Reserved
