header
  .Header
    .Header-Inner
      .Header-Wrap
        .Logo.Logo-Lalaport
          a(href="https://mitsui-shopping-park.com/lalaport/" target="_blank")
            img(src="./_assets/images/logo_lalaport.svg" alt="")
        .Logo.Logo-Divercity
          a(href="https://mitsui-shopping-park.com/divercity-tokyo/" target="_blank")
            img(src="./_assets/images/logo_divercity.png" alt="")
        .Logo.Logo-Lazona
          a(href="https://mitsui-shopping-park.com/lazona-kawasaki/" target="_blank")
            img(src="./_assets/images/logo_lazona.jpg" alt=" ")
        .Logo.Logo-Mitsui.is-sp
          a(href="https://www.mitsuifudosan.co.jp/" target="_blank")
            img(src="./_assets/images/logo_mitsui.svg" alt="三井不動産 MITSUI FUDOSAN")
      .Header-Wrap
        .Logo.Logo-Mitsui.is-pc
          a(href="https://www.mitsuifudosan.co.jp/" target="_blank")
            img(src="./_assets/images/logo_mitsui.svg" alt="三井不動産 MITSUI FUDOSAN")