main
  .Container
    section.Mv
      .Mv__title
        img(src="./_assets/images/mv-item-01.png" alt="")
      .Mv__subtitle
        img(src="./_assets/images/mv-item-02.png" alt="")
      .Mv__para